/* ********************************************** */
/* Базовые стили для страниц */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

html {
    background-image: url(images/main/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/* Конец базовых стилей для страниц */
/* ********************************************** */


/* ********************************************** */
/* Стили HEADER и содержимого */


.header {
    /* width: 100%; */
    /* max-width: 960px; */
    height: 150px;
    background-color: rgba(109, 109, 109, 0.7);
}


.headerLogo img {
    max-width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.headerContacts {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.headerContacts a {
    text-decoration: none;
    color: #20c710;
}

.headerContacts a:hover {
    box-shadow: aqua 0 0 20px;
}

.menu {
    margin-top: 30px;
    margin-right: 30px;
    float: right;
}

.menu ul li {
    list-style: none;
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;;
}
.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: #ffffff;
    box-shadow: rgb(255, 255, 255) 0 0 5px;
    text-decoration: none;
}

.menu ul li a:hover {
    box-shadow: aqua 0 0 20px;
    color: aquamarine;
}


/* Конец стилей HEADER и содержимого */
/* ********************************************** */


/* ********************************************** */
/* Стили BODY и содержимого */


.body {
    /* width: 100%; */
    max-width: 960px;
    min-width: 430px;
    min-height: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ********************************************** */
/* Стили FOOTER и содержимого */


.footer {
    height: 55px;
    background-color: rgba(109, 109, 109, 0.7);
}

.footer p {
    color: #ffffff;
    text-align: center;
    line-height: 55px;
}


/* Конец стилей FOOTER и содержимого */
/* ********************************************** */

/* 
.itemDescription {
    height: auto;
    margin: 0 auto;
} */

.item img {
    /* box-sizing: border-box; */
    margin-top: 5px;
    width: 450px;
    box-shadow: rgb(255, 255, 255) 0 0 15px;
}

.item img:hover {
    box-shadow: aqua 0 0 20px;
}

.itemImg {
    /* box-sizing: border-box; */
    margin-right: 10px;
    float: left;
    /* position: relative; */
}

.itemDescriptionText {
    box-sizing: border-box;
    display: block;
}

.itemProperties {
    display: inline-block;
}

.buyButton img {
    width: 130px;
    position: absolute;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 320px;
    margin-top: 270px;
    opacity: 0.5;
}

.buyButton img:hover {
    opacity: 1;
    box-shadow: rgb(0, 129, 0) 0 0 50px !important; 
}


/* ********************************************** */
/* Стили текста content */


.content {
    text-align: justify;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.content p {
    text-indent: 30px;
}

.itemDescriptionText p {
    line-height: 25px;
}

.content h1 {
    text-align: center;
    padding-top: 10px;
}

.content h2,
h3 {
    text-align: left;
    text-indent: 30px;
    margin-bottom: 10px;
}

.content h2::first-letter,
.content h3::first-letter {
    color: #20c710;
    font-size: 130%;
}

.content ul {
    list-style-type: circle;
}

.content ul li {
    margin: 10px 30px;
}

.content a {
    color: rgb(0, 172, 0);
}

#warning {
    color: red;
}


/* Конец стилей текста content */
/* ********************************************** */


/* ********************************************** */
/* Стили таблиц */


.tableItems {
    margin: auto;
}

.tableItems tr {
    width: 100%;
    max-width: 960px;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-sizing: border-box; */
}

.tableItems tr td {
    text-align: center;
    margin: 5px;
    box-shadow: rgb(255, 255, 255) 0 0 10px;
    font-size: 16px;
    font-style: italic;
}

.tableItems td:hover {
    box-shadow: aqua 0 0 20px;
}


/* Конец стилей таблиц */
/* ********************************************** */


/* ********************************************** */
/* Форма обратной связи */

.content iframe {
    width: 98%;
    max-width: 900px;
    height: 374px;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.feedbackForm {
    width: 100%;
    display: -webkit-flex;
    justify-content: center;
}

.feedbackFormContent {
    width: 90%;
    max-width: 900px;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 30px;
}

.feedbackButton {
    width: 60%;
    max-width: 500px;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

#submitButton,
#resetButton {
    width: 45%;
    height: 30px;
    color: #20c710;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

form textarea {
    width: 70%;
    height: 100px;
}

form textarea:focus {
    background-color: beige;
    color: #20c710;
    font-size: 16px;
    font-style: italic;
}

input[type="text"]:focus {
    text-transform: capitalize;
    color: #20c710;
    font-size: 16px;
    font-style: italic;
    background-color: beige;
}

#feedbackFormTitle {
    text-align: center;
}


/* Конец формы обратной связи */
/* ********************************************** */


/* ********************************************** */
/* Тестовая таблица для ДЗ */

.itemTest {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemTest table {
    width: 100%;
    max-width: 600px;
    border: 3px solid #ffffff;
    border-collapse: collapse;
}

.itemTest th,
.itemTest tr:first-child,
.itemTest tr:nth-child(2) td,
.itemTest tr:nth-child(2) {
    border: 3px solid #ffffff;
}

.itemTest td {
    border: 1px solid #ffffff;
}

.itemTest tr:first-child,
.itemTest tr:nth-child(2) {
    height: 50px;
}

.itemTest tr th:first-child,
.itemTest tr td:first-child {
    border: 1px solid #ffffff;
    text-align: left;
}

.itemTest tr:nth-child(2) td {
    text-align: center;
}


/* Конец тестовой таблицы для ДЗ *//* ********************************************** */
