html * {
  margin: 0;
  padding: 0;
}
.container {
  width: 1210px;
  margin: 0 auto;
}
.container > * {
  border: 1px solid pink;
}
header {
  width: 1920px;
  padding: 0 355px;
  background: url(../img/headerBg.png) no-repeat;
  display: flex;
  justify-content: space-between;
}
header .logo {
  margin: 15px 0 0 12px;
}
header .navbar {
  display: flex;
}
header .navbar .nav ul {
  display: flex;
}
header .navbar .nav ul li {
  list-style-type: none;
}
header .navbar .nav ul li a {
  text-decoration: none;
  padding: 0 20px;
  line-height: 29px;
}
