@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html * {
  padding: 0;
  margin: 0;
}
h2 {
  color: #445161;
  font: bold 30px/36px 'Arial', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}
h3 {
  color: #445161;
  font: 400 24px/30px 'Arial', sans-serif;
}
p {
  color: #333;
  font: 400 16px/24px 'Arial', sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #fff;
}
.container > * {
  font-family: 'Arial', sans-serif;
  padding: 50px;
}
.header {
  background-color: #445162;
  display: flex;
  justify-content: space-between;
}
.header .headerTop h1 {
  margin-top: -4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font: bold 60px/60px 'Arial', sans-serif;
}
.header .headerTop .headerList {
  margin: 25px 0 0 35px;
  list-style-image: url(../img/headerListIcon.png);
}
.header .headerTop .headerList li {
  color: #ffffff;
  font: normal 20px/36px 'Arial', sans-serif;
}
.header .headerImage {
  margin-left: 30px;
}
.header .headerImage img {
  width: 100%;
  height: auto;
}
main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}
main > * {
  margin: -50px -50px 50px -50px;
  padding: 50px;
  overflow: none;
  background-color: #fff;
}
main .about {
  display: flex;
  justify-content: space-between;
}
main .about .aboutLeft h2 {
  color: #445161;
  font: bold 30px/36px 'Arial', sans-serif;
  padding-bottom: 0;
  margin-bottom: 20px;
  text-align: left;
}
main .about .aboutLeft p {
  padding-right: 50px;
}
main .about .aboutRight video[poster] {
  object-fit: cover;
}
main .feature {
  background-color: #f5f5f5;
}
main .feature .featureBoxWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .feature .featureBoxWrap .featureBox {
  display: flex;
  justify-content: left;
  max-width: calc(590px);
  padding-bottom: 35px;
}
main .feature .featureBoxWrap .featureBox p {
  text-align: left;
  padding-right: 20px;
}
main .feature .featureBoxWrap .featureBox:last-child,
main .feature .featureBoxWrap .featureBox:nth-last-child(2) {
  padding-bottom: 0;
}
main .feature .featureBoxWrap img {
  width: 32px;
  height: 32px;
}
main .feature .featureBoxWrap p {
  margin: -4px 0 0 9px;
}
main .screenshot .screenshotBoxWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .screenshot .screenshotBoxWrap .screenshotBox {
  display: flex;
  text-align: left;
  width: calc(585px);
  padding-bottom: 30px;
}
main .screenshot .screenshotBoxWrap .screenshotBox img {
  width: 200px;
  height: 150px;
}
main .screenshot .screenshotBoxWrap .screenshotBox .screenshotBoxDescription {
  margin: -4px 16px 0 15px;
}
main .screenshot .screenshotBoxWrap .screenshotBox .screenshotBoxDescription h3 {
  margin-bottom: 6px;
}
main .screenshot .screenshotBoxWrap .screenshotBox:last-child,
main .screenshot .screenshotBoxWrap .screenshotBox:nth-last-child(2) {
  padding-bottom: 0;
}
main .review {
  background-color: #f5f5f5;
}
main .review .reviewBoxWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .review .reviewBoxWrap .reviewBox {
  display: flex;
  text-align: left;
  width: calc(576px);
  padding-bottom: 24px;
}
main .review .reviewBoxWrap .reviewBox img {
  max-height: 75px;
}
main .review .reviewBoxWrap .reviewBox .userReview {
  position: relative;
}
main .review .reviewBoxWrap .reviewBox .userReview .citeAddon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 20px;
  transform: rotate(45deg);
  background-color: #ebebeb;
}
main .review .reviewBoxWrap .reviewBox .userReview .cite {
  margin-left: 32px;
  background-color: #ebebeb;
  box-sizing: border-box;
  border-radius: 6px;
}
main .review .reviewBoxWrap .reviewBox .userReview .cite p {
  margin: 0 20px 0 15px;
  padding-top: 12px;
  font: italic 14px/18px 'Arial', sans-serif;
}
main .review .reviewBoxWrap .reviewBox .userReview .cite .author {
  color: #989898;
  padding-bottom: 12px;
}
main .review .reviewBoxWrap .reviewBox:last-child,
main .review .reviewBoxWrap .reviewBox:nth-last-child(2) {
  padding-bottom: 0;
}
main .price {
  margin-bottom: 0;
  padding-bottom: 0;
}
main .price .priceWrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .price .priceWrap .priceBox {
  width: 300px;
  margin: 0 45px 0 0;
  background-color: #445162;
  border-radius: 5px;
}
main .price .priceWrap .priceBox h3 {
  color: #fff;
  text-align: center;
  line-height: 50px;
}
main .price .priceWrap .priceBox .priceAmount {
  max-width: 300px;
  background-color: #fff;
  color: #445162;
  font: normal 40px/30px 'Arial', sans-serif;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
}
main .price .priceWrap .priceBox ol {
  margin: 20px 0 0 20px;
}
main .price .priceWrap .priceBox ol li {
  margin-left: 20px;
  color: #ffffff;
  font: normal 14px/24px 'Arial', sans-serif;
}
main .price .priceWrap .priceBox button {
  width: 90%;
  height: 40px;
  line-height: 40px;
  margin: 5%;
  background-color: #fff;
  color: #445161;
  font: bold 18px/18px 'Arial', sans-serif;
  text-transform: uppercase;
}
main .price .priceWrap .priceBox:last-child {
  margin-right: 0;
}
.contacts {
  background-color: #445162;
  text-align: center;
  margin: -50px;
}
.contacts h2 {
  color: #fff;
  padding: 50px 0 30px 0;
}
.contacts .contactsFormWrap {
  display: flex;
  justify-content: center;
}
.contacts .contactsFormWrap .contactsForm {
  max-width: 500px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
}
.contacts .contactsFormWrap .contactsForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contactsFormWrap .contactsForm form input[name="name"],
.contacts .contactsFormWrap .contactsForm form input[name="email"] {
  width: 100%;
  height: 40px;
}
.contacts .contactsFormWrap .contactsForm form textarea {
  min-height: 160px;
  width: 100%;
}
.contacts .contactsFormWrap .contactsForm form * {
  max-width: 100%;
  margin-bottom: 20px;
  color: #445162;
  font: bolder 16px/24px 'Arial', sans-serif;
  padding-left: 10px;
  border-radius: 5px;
}
.contacts .contactsFormWrap .contactsForm form input[name="submit"] {
  width: 140px;
  height: 40px;
  padding: 0;
}
.contacts .contactsFormWrap .contactsInfo {
  flex-basis: 230px;
  text-align: left;
}
.contacts .contactsFormWrap .contactsInfo .contactOption {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}
.contacts .contactsFormWrap .contactsInfo .contactOption p {
  color: #fff;
  font: bolder 16px/24px 'Arial', sans-serif;
  margin-left: 5px;
}
.contacts .contactsFormWrap .contactsInfo .socialIcons {
  font: 60px/44px 'SocialIco', sans-serif;
  color: #fff;
}
.contacts .copyright {
  margin-top: 20px;
}
.contacts .copyright p {
  background-color: #f5f5f5;
  color: #445162;
  font: normal 12px/24px 'Arial', sans-serif;
  line-height: 24px;
}
